// .layout
//     display: grid
//     grid-template-columns: 1fr minmax(0, 120rem) 1fr
//     column-gap: 12rem
//     @media screen and (max-width: 1200px)
//         column-gap: 10vw

// .layout__content
//     grid-column: 2

// .layout
//     *
//         background-color: lightgreen

.container
    max-width: 120rem
    margin: 0 auto
    padding: 0 12rem
