$video_src_width: 1280
$video_src_height: 676
$aspect_ratio: calc($video_src_width / $video_src_height)

$letters_width: min(82vw, 118rem)
$letters_height: calc($letters_width / $aspect_ratio)

.hero
    height: 100vh
    &__content
        height: 100%
        display: grid
        place-content: center start
        grid-template-columns: 1rem 1fr
    &__heading
        // font-family: var(--secondary-font-family)
        // color: var(--pale-yellow)
        // font-size: 72rem
        // font-weight: 500
        // letter-spacing: -2rem
        // line-height: 0.7
        margin-top: -2rem
        width: $letters_width
        height: $letters_height

    &__line
        grid-row: 1 / 3
        place-self: end
        // height: $letters_height
        height: calc($letters_height - 2rem)
        width: 200%
        margin-bottom: calc($letters_height * 0.1)
        svg
            width: 100%
            height: 100%

    &__text
        text-transform: uppercase
        user-select: none
        cursor: default
        color: var(--fiery-red)
        font-weight: 500
        letter-spacing: 0.04em
        padding-top: 3.4rem
        padding-left: 1.8rem
        padding-left: clamp(0.4rem, 2vw, 3.2rem)
        font-size: clamp(2.2rem, 2.5vw, 3.6rem)
        padding-bottom: 2rem
        @media (min-width: 1024px)
            padding-bottom: 0

.mask-group
    position: relative
    overflow: hidden
    &__content
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        mask-image: url("../../../dist/images/Mask.png")
        mask-repeat: no-repeat
        mask-size: contain
        mask-position: center
