.popup
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: var(--pale-yellow)
    z-index: 100
    &__content
        position: relative
        margin-top: 10rem
        margin-bottom: 10rem
    &__close-btn
        position: absolute
        top: 0
        right: 0
        padding: 1rem
        cursor: pointer
